@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 80px;
    margin: 50px; 
    padding: 50px; 
    justify-content: center;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    line-height: 40px;
  }
  
  .iframe-container {
    background-color: rgb(44, 44, 44);
    padding: 25px; 
    text-align: center;
    border-radius: 12px;
    width: 450px; 
    height: 500px;
  }

  .iframe-container>button{
    margin-top: 15px;
    background:none;
    border: none;
    color: white;
  }

  .iframe-container>button:hover{
    cursor: pointer;
    transform: scale(1.5);
  }
  
  iframe{
    border-radius: 12px;
    width: 100%;
    height: 200px;
    margin-top: 30px;
  }

  iframe:hover{
    width: 300px;
    height: 300px;
    transform: scale(1.2);
  }

  
  .iframe-container:nth-child(even) {
    color: black;
    background-color: rgb(129, 129, 129);
  }
  
  @media only screen and (max-width: 426px) {
    .main-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-auto-rows: auto;
      gap: 30px;
      line-height: 30px;
    }

    .iframe-container {
      background-color: rgb(44, 44, 44);
      padding: 20px; 
      text-align: center;
      border-radius: 12px;
      width: 320px; 
      height: 350px;
    }

  }